@import "fonts";

body {
   font-family: CormorantUpright;
   font-size: 30px;

   background-color: #000;
   color: #fff;
   span {
      color: rgb(146, 109, 231);
      letter-spacing: 2px;
   }
   // background: url("@img/image.jpg") 0 0 no-repeat;
}

@media (max-width: 768px) {
   // Перевірка збірки групування медіа запитів - робе :)
   span {
      font-size: 22px;
   }
}

@media (max-width: 768px) {
   body {
      background-color: green;
   }
}
